.container {
  max-width: 870px;
}

.shadow-new-post {
  position: relative;
  z-index: 10;

  &::after {
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: -1;
    display: block;
    width: 556px;
    height: 74px;
    background-color: white;
    border: 2px solid black;
    content: "";
  }
}

.shadow-user-wall {
  position: relative;
  z-index: 10;

  &::after {
    position: absolute;
    top: 6px;
    right: 20px;
    z-index: -1;
    display: block;
    width: 556px;
    height: 86px;
    background-color: white;
    border: 2px solid black;
    border-radius: 0.375rem;
    content: "";
  }
}

.btn-like:hover {
  color: #03438d;
}
